body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background: url("https://wallpapercave.com/wp/wp4392689.jpg") repeat center fixed;
  
  background-size: cover;
}
/* 
https://images.unsplash.com/photo-1516211697506-8360dbcfe9a4?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80
https://images.unsplash.com/photo-1606913079621-e64bd28682ba?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=2070&q=80
https://images.unsplash.com/photo-1495195134817-aeb325a55b65?ixlib=rb-4.0.3&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1776&q=80 */

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.user-image{
  width: 100px;
  height: 100px;
  border-radius: 50%;
}

.user-profile-image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.post-profile-image{
  width: 50px;
  height: 50px;
  border-radius: 50%;
}

.post-comment-profile-image{
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.comment-div{
  background-color: rgb(219, 218, 218);
}

.react-icons:hover{
  color: #ff4800;
  transform: scale(1.1);
}

.newusercard {
  transition: transform 0.2s ease;
  background-color: rgb(241, 241, 241);
}

.newusercard:hover {
  transform: scale(1.1);
}
.post-card{
  background-color: rgba(221, 221, 221, 0.919);
  border-radius: 20px;
  

}

.create-card{
  background-color: #ffefea;
  border-radius: 20px;
}

.tab-profile{
  margin-top: 10px;
  margin-bottom: 10px;
  border-radius: 10px;
  background-color: #ffefea;
}